<h1 id="pageHeader">GroundHoppersAssistant</h1>
<a><img id="siteLogo"src="../assets/images/GroundhoppersAssistant.png"></a>		
<!--Start of navigation bar-->
<div class="navbar" id="myNavbar">
    <div id="navbar-container">	
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
        <i class="fa fa-bars"></i>
        </a>
